body {
    font-family: Arial, sans-serif;
    background: #f5f5f5;
    padding: 20px;
    text-align: center;
}

h1 {
    color: #333;
}

#search, #titleField {
    padding: 8px;
    width: 250px;
    border: 1px solid #bbb;
    border-radius: 5px;
    margin: 10px 0;
}

button {
    padding: 8px 14px;
    border: none;
    border-radius: 5px;
    background-color: #137316;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #27762b;
}

ul {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
}

li {
    background: white;
    margin: 8px auto;
    padding: 10px;
    width: 60%;
    border-radius: 6px;
    box-shadow: 0 1px 4px rgba(0,0,0,0.1);
}

a {
    margin-left: 10px;
    text-decoration: none;
    color: #053160;
}

a:hover {
    text-decoration: underline;
}

.delete-btn {
    color: rgb(223, 36, 36);
}

.delete-btn:hover {
    text-decoration: underline;
}
